.uploader-wrapper {
  padding: 2rem;
}

.uploader {
  position: relative;
  z-index: 1;
  display: flex;
  margin: 0 auto;
  padding: 1.5em;
  width: 600px;
  max-width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 0.5em 3em rgb(109, 141, 171, 0.1);
  border-radius: 3em;

  input[type="file"] {
    display: none;
  }

  .select-button {
    margin-top: 1em;
    font-size: 1em;
  }
}

.upload-label {
  cursor: pointer;
  user-select: none;
  text-align: center;
  width: 100%;
  padding: 2rem 1.5rem;
  color: var(--primary-color);
  background: #fff;
  border: 2px dashed transparent;
  border-radius: 2em;
  transition: all 0.2s ease;

  &:hover,
  &.dragged {
    .upload-icon {
      .arrow {
        animation: floating ease 1s infinite;
      }
    }
  }

  &.dragged {
    border-color: var(--primary-color);

    .upload-icon {
      transform: scale(0.8);
      opacity: 0.1;
    }
  }
}

.upload-icon {
  width: 7.5em;
  margin-bottom: 1em;
  fill: var(--primary-color);
  opacity: 0.3;
  transition: all ease 0.2s;
}

.file-upload,
.upload-start,
.upload-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.upload-info {
  .progress {
    width: 10em;
    .CircularProgressbar-path {
      stroke: var(--primary-color);
    }

    .CircularProgressbar-text {
      font-size: 1em;
      fill: var(--primary-color);
    }
  }
}

.upload-message {
  font-size: 0.9em;
  padding-top: 1.5em;
  color: var(--primary-color);
}

.uploaded-list-wrapper {
  overflow: hidden;
  width: 500px;
  max-width: 100%;
  padding: 2em;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 1em 3em rgb(109, 141, 171, 0.1);
  border-radius: 0 0 2em 2em;

  .uploaded-list {
    overflow-y: auto;
    max-height: max(30vh, 200px);
  }

  .copy-to-clipboard {
    animation: toast-in ease 0.25s both;

    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.75em);
  }
  50% {
    transform: translateY(-0.75em);
  }
  75% {
    transform: translateY(0);
  }
}
